@use "app";

.page-container {
    @include app.page-container;

    .logo {
        @apply h-16
        w-auto bg-gray-100
        fill-red-600
        dark:bg-gray-900;
    }

    .title {
        @apply text-center
        text-xl
        font-semibold
        text-gray-900
        dark:text-white;
    }

    .icon {
        @apply text-2xl;
    }

    .description {
        @apply mt-1
        text-sm
        leading-relaxed
        text-gray-500
        dark:text-gray-400;
    }
}
